<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Inicio</title>
</h:head>
<h:body>
	
	<h:form>
		<img src="#{facesContext.externalContext.request.contextPath}/img/logoifma.png"
		height="150px" width="900px"/>
		

		<p:menubar>

			<p:submenu label="Cadastro" icon="ui-icon-pencil">
				<p:menuitem value="Aluno" url="/novoAluno.xhtml" ajax="false" />
					<p:menuitem value="Prova" url="/prova.xhtml" ajax="false" />
			</p:submenu>
			<f:facet name="options">
				<p:outputLabel value="Usuario logado :" />
	            <p:outputLabel value="#{inicioBean.usuariologado.nome}   "/>
				<p:commandButton action="#{inicioBean.logaut}"
				value="logaut" icon="ui-icon-extlink" ajax="false"/>
			</f:facet>
		</p:menubar>
	</h:form>
</h:body>
</html>