<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title> Prova </title>
</h:head>
<h:body>

	<h:form>
	  <p:growl id= "growl3" sticky="true" showDetail="true" life="3000"/> 
		<img
			src="#{facesContext.externalContext.request.contextPath}/img/logoifma.png"
			height="150px" width="900px" />


		<p:menubar>

			<p:submenu label="Cadastro" icon="ui-icon-pencil">
				<p:menuitem value="Aluno" url="/novoAluno.xhtml" ajax="false" />
				<p:menuitem value="Prova" url="/prova.xhtml" ajax="false" />
				
			</p:submenu>
			<f:facet name="options">
			
				<p:outputLabel value="Usuario logado :" />
				<p:outputLabel value="#{inicioBean.usuariologado.nome}   " />
				<p:commandButton action="#{inicioBean.logaut}" value="logaut"
					icon="ui-icon-extlink" ajax="false" />
					
			</f:facet>
		</p:menubar>
		
		<div align="center">
			<br />
			<p:panel style="width:1100px">
			
				<div align="left">
					<h:panelGrid columns="2" cellpadding="10">
					
						<p:outputLabel value="Descricao: " />
			     	<p:inputText value="#{provaBean.novaProva.descricao}"
					style="width: 500px"  />

						<p:outputLabel value="Data da Realização: " />
				        <p:calendar showOn="button" value="#{provaBean.novaProva.data_realizacao}"
				      	required="true" />
					
					</h:panelGrid>
					<div align="center">
						<h:panelGrid columns="2">
							
					<p:commandButton value="Salvar" ajax="false" action="#{provaBean.salvarProva}" update="growl3" />
					<p:commandButton value="Cancelar" ajax="false" />
												
						</h:panelGrid>
					</div>
				</div>
			</p:panel>
		</div>
	</h:form>
</h:body>
</html>